<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script}) }"
>
  <head>
    <title>home Page</title>
  </head>
  <body>
    <nav
  data-th-fragment="navbar"
  class="bg-white border-gray-900 shadow-sm dark:bg-gray-900 navbar"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <!-- brand -->
    <a
      data-th-src="@{'/'}"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img
        data-th-src="@{'/images/hexagon.png'}"
        class="h-8 shadow rounded-full"
        alt="JD Infotech "
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        > JD Infotech PVT LTD.(SCM2.0)</span
      >
    </a>

    <!-- end of brand logo -->
    <div
      class="flex gap-2 md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
    >
      <!-- dark light theme button -->
      <button
        id="theme_change_button"
        class="bg-gray-200 px-3 py-2 rounded-lg dark:bg-gray-600"
      >
        <i class="fa-solid fa-circle-half-stroke"></i> <span>Light</span>
      </button>
      
      <a
        data-th-href="@{'/login'}"
        type="button"
        class="text-white bg-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Login
      </a>
      <a
        data-th-href="@{'/register'}"
        type="button"
        class="text-white bg-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Signup
      </a>

      <!-- icons to open menu on small screen -->
      <button
        data-collapse-toggle="navbar-cta"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-cta"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>

    <!-- menus -->
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-cta"
    >
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            data-th-href="@{'/home'}"
            class="block py-2 px-3 md:p-0 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:dark:text-blue-500"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            data-th-href="@{'/about'}"
            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >About</a
          >
        </li>
        <li>
          <a
            data-th-href="@{'/services'}"
            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Services</a
          >
        </li>
        <li>
          <a
            data-th-href="@{'/contact'}"
            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div id="content">
      <h1>welcometo home page</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias
        consectetur veniam sed. Saepe quia, fugit quibusdam eligendi harum
        molestias, illum, commodi distinctio accusamus facere eaque nisi tempora
        iure a ratione modi porro officiis mollitia vero vel voluptatum sunt. Id
        soluta provident porro quibusdam repellendus! Vero nostrum molestias
        tempore saepe illo, dolore vel corporis voluptates velit vitae neque
        deleniti eligendi modi adipisci voluptate odio iure, pariatur laudantium
        incidunt blanditiis. Quibusdam nesciunt quisquam adipisci. Incidunt
        sapiente reiciendis, quisquam tempora veniam eos dolore ipsa molestiae
        magni provident quo, quibusdam exercitationem ipsam magnam? At ipsam,
        tenetur quas quidem deleniti vel fuga aperiam perferendis earum! Quae
        fuga hic excepturi soluta inventore voluptas sunt, consequatur
        exercitationem provident fugit debitis, blanditiis labore, autem
        expedita error harum numquam ipsum dolorem esse magni! Est tempore quae
        deleniti pariatur ipsam eligendi excepturi! Eos possimus esse nesciunt
        iure, optio fuga ad quos? Optio consequuntur laboriosam veritatis cumque
        saepe officia placeat. Facilis deserunt distinctio ducimus ab doloremque
        quasi perferendis ipsum? Vel natus deserunt ex earum. Quasi doloribus,
        nostrum a illum reiciendis veritatis aut voluptates obcaecati odit modi
        blanditiis. Reprehenderit rerum maiores nobis odio, ea sed, voluptate
        quas temporibus eaque repellendus quia doloribus tempora soluta earum
        nisi vero alias, deleniti libero? Cumque culpa est, nulla repudiandae
        aut vitae excepturi recusandae itaque maxime sapiente cupiditate ab
        optio perspiciatis! Exercitationem iste magnam aspernatur ut, rerum
        natus quas hic architecto sunt perferendis deserunt laboriosam possimus
        recusandae perspiciatis atque. Fuga laboriosam expedita distinctio
        accusamus fugiat architecto pariatur omnis ducimus consequuntur minus
        dolorem natus, accusantium adipisci quibusdam quidem alias dolore magnam
        unde itaque temporibus fugit laborum ipsum vel. Laudantium nulla eaque
        sapiente tempore vel asperiores totam id, a minus illum est sint
        blanditiis quisquam amet beatae saepe, ab sit maxime, aut atque
        temporibus adipisci? Tempora aspernatur quisquam asperiores repellat
        veritatis exercitationem, culpa odit, iusto ex autem facilis ipsa
        nesciunt voluptates? Necessitatibus quaerat, non voluptatem fuga
        explicabo dolorum pariatur! Ducimus cupiditate mollitia molestiae hic
        pariatur fuga dicta eius itaque qui fugit modi quas dolore deserunt enim
        doloremque sit, suscipit, labore architecto, ab id similique! Aliquid
        natus deserunt modi, magnam doloremque possimus eligendi fuga quisquam
        consequuntur, ex atque nihil excepturi alias unde dolore. Facere enim
        distinctio, porro maxime assumenda, illo reprehenderit aperiam amet sit
        doloremque optio et soluta, molestias sapiente. Tenetur autem veritatis
        dicta dolores labore saepe commodi atque velit quam molestiae doloribus,
        facilis perspiciatis quidem omnis reiciendis et mollitia, sapiente rerum
        aut inventore ipsam consequuntur. Sed corporis at voluptates minus magni
        nam? Nemo, facere. Sint, necessitatibus? Fugiat a explicabo suscipit
        asperiores numquam ullam dolor? Voluptates tempore, ipsa incidunt quis
        aperiam ex debitis ad assumenda sed porro et dolorem. Eaque nihil magnam
        provident ipsum distinctio esse quam explicabo! Accusamus sapiente
        beatae adipisci magni voluptatum quidem dolores ipsum repudiandae culpa?
        Voluptatum laudantium aspernatur corrupti odit ex repellat id ad
        doloribus placeat sunt quae ea error fugiat iure quidem, necessitatibus
        unde eum officia labore numquam dicta commodi magnam! Ratione sint
        debitis voluptates laboriosam odio nostrum reprehenderit esse ab ducimus
        alias ea atque eos accusantium reiciendis aliquam, quasi cupiditate
        blanditiis animi! Accusamus, exercitationem!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non delectus
        dolorem possimus!
      </p>
    </div>
    <script>
      console.log("home page script page  ");
    </script>
  </body>
</html>
