<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script}) }"
>
  <head>
    <title>home Page</title>
  </head>
  <body>
    <div id="content">
      <h1>welcometo home page</h1
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias
        consectetur veniam sed. Saepe quia, fugit quibusdam eligendi harum
        molestias, illum, commodi distinctio accusamus facere eaque nisi tempora
        iure a ratione modi porro officiis mollitia vero vel voluptatum sunt. Id
        soluta provident porro quibusdam repellendus! Vero nostrum molestias
        tempore saepe illo, dolore vel corporis voluptates velit vitae neque
        deleniti eligendi modi adipisci voluptate odio iure, pariatur laudantium
        incidunt blanditiis. Quibusdam nesciunt quisquam adipisci. Incidunt
        sapiente reiciendis, quisquam tempora veniam eos dolore ipsa molestiae
        magni provident quo, quibusdam exercitationem ipsam magnam? At ipsam,
        tenetur quas quidem deleniti vel fuga aperiam perferendis earum! Quae
        fuga hic excepturi soluta inventore voluptas sunt, consequatur
        exercitationem provident fugit debitis, blanditiis labore, autem
        expedita error harum numquam ipsum dolorem esse magni! Est tempore quae
        deleniti pariatur ipsam eligendi excepturi! Eos possimus esse nesciunt
        iure, optio fuga ad quos? Optio consequuntur laboriosam veritatis cumque
        saepe officia placeat. Facilis deserunt distinctio ducimus ab doloremque
        quasi perferendis ipsum? Vel natus deserunt ex earum. Quasi doloribus,
        nostrum a illum reiciendis veritatis aut voluptates obcaecati odit modi
        blanditiis. Reprehenderit rerum maiores nobis odio, ea sed, voluptate
        quas temporibus eaque repellendus quia doloribus tempora soluta earum
        nisi vero alias, deleniti libero? Cumque culpa est, nulla repudiandae
        aut vitae excepturi recusandae itaque maxime sapiente cupiditate ab
        optio perspiciatis! Exercitationem iste magnam aspernatur ut, rerum
        natus quas hic architecto sunt perferendis deserunt laboriosam possimus
        recusandae perspiciatis atque. Fuga laboriosam expedita distinctio
        accusamus fugiat architecto pariatur omnis ducimus consequuntur minus
        dolorem natus, accusantium adipisci quibusdam quidem alias dolore magnam
        unde itaque temporibus fugit laborum ipsum vel. Laudantium nulla eaque
        sapiente tempore vel asperiores totam id, a minus illum est sint
        blanditiis quisquam amet beatae saepe, ab sit maxime, aut atque
        temporibus adipisci? Tempora aspernatur quisquam asperiores repellat
        veritatis exercitationem, culpa odit, iusto ex autem facilis ipsa
        nesciunt voluptates? Necessitatibus quaerat, non voluptatem fuga
        explicabo dolorum pariatur! Ducimus cupiditate mollitia molestiae hic
        pariatur fuga dicta eius itaque qui fugit modi quas dolore deserunt enim
        doloremque sit, suscipit, labore architecto, ab id similique! Aliquid
        natus deserunt modi, magnam doloremque possimus eligendi fuga quisquam
        consequuntur, ex atque nihil excepturi alias unde dolore. Facere enim
        distinctio, porro maxime assumenda, illo reprehenderit aperiam amet sit
        doloremque optio et soluta, molestias sapiente. Tenetur autem veritatis
        dicta dolores labore saepe commodi atque velit quam molestiae doloribus,
        facilis perspiciatis quidem omnis reiciendis et mollitia, sapiente rerum
        aut inventore ipsam consequuntur. Sed corporis at voluptates minus magni
        nam? Nemo, facere. Sint, necessitatibus? Fugiat a explicabo suscipit
        asperiores numquam ullam dolor? Voluptates tempore, ipsa incidunt quis
        aperiam ex debitis ad assumenda sed porro et dolorem. Eaque nihil magnam
        provident ipsum distinctio esse quam explicabo! Accusamus sapiente
        beatae adipisci magni voluptatum quidem dolores ipsum repudiandae culpa?
        Voluptatum laudantium aspernatur corrupti odit ex repellat id ad
        doloribus placeat sunt quae ea error fugiat iure quidem, necessitatibus
        unde eum officia labore numquam dicta commodi magnam! Ratione sint
        debitis voluptates laboriosam odio nostrum reprehenderit esse ab ducimus
        alias ea atque eos accusantium reiciendis aliquam, quasi cupiditate
        blanditiis animi! Accusamus, exercitationem!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non delectus
        dolorem possimus!
      </p>
    </div>
    <script>
      console.log("home page script page  ");
    </script>
  </body>
</html>
